<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93D721B51BCD79CB00821FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93D721CE1BCD79CB00821FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93D721D91BCD79CC00821FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
